safetensors>=0.3.0
datasets>=2.10.1
sentencepiece>=0.1.97
torch>=1.13.1
numpy>=1.22.3
transformers @ git+https://github.com/huggingface/transformers.git@464d420
# installs transformers=4.28.0.dev0 which handles Llama correctly
